// esquema de colores
// paleta de grises claros
$white: #fff;
$platinum: #E6E7E7;
$lightgray: #a0a0a0;
// paleta de salmon
$fuzzywuzzy: #e56553;
$ruddypink: #D76C69;
$Spanishpink: #ECBCBA;
// paleta de grises oscuros
$Eerieblack: #121619;
$Raisinblack: #222323;
$Nickel: #6C6E70;
// tipografias
$roboto: 'Roboto';
$playfair: 'Playfair Display';
// peso de fuentes
$light:300;
$regular: 400;
$bold: 900i;
// tamaños de fuentes
$xx-large: 70px;
$x-large: 40px;
$large: 30px;
$medium: 20px;
$small:16px;