@import '../abstracts/variables';
h1 {
    font-family: $playfair;
    font-size: xx-large;
}

h2 {
    font-family: $playfair;
    font-size: x-large;
}

h3 {
    font-family: $playfair;
    font-size: large;
}

h4 {
    font-family: $roboto;
    font-size: $medium;
    color: $Spanishpink;
}

h5 {
    font-family: $roboto;
    font-weight: $light $regular $bold;
    font-size: $xx-large $x-large $large;
    color: $ruddypink
}

p {
    font-family: $roboto;
}